<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <h2>Favorites</h2>
      Number of favorites: <%= @user.favorites.count %><p>
      <% @user.favorites.each  do |favorite|%>
        <%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post_id) %>
        <br>
      <% end %>
    </h4>
  </div>
</div>
