<h2>Confirm your Information</h2>

<div class="row">
  <div class="col-md-8">
    <h4>Are you really you? Make sure!?</h4>
    <h5>Your Name: <%= @user.name %></h5>
    <h5>Your Email: <%= @user.email %></h5>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
  </div>
  <div class="col-md-4">
    <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-danger', :method => :get %>
  </div>
</div>
