<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<%= link_to "https://twitter.com/perryahern", :style => 'text-decoration: none', target: :_blank do%>
    <div class="social-btn">Tweet @ me!</div>
<% end %>
